<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil Adhérent</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <nav>
        <a th:href="@{/pret}">Prêter un livre</a>
        <a th:href="@{/mes-prets}">Mes prêts</a>
        <a th:href="@{/listeLivres}">Livres</a>
        <a th:href="@{/mes-reservations}">Mes réservations</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Se déconnecter</button>
        </form>
    </nav>

    <h3>Bienvenue <span th:text="${sessionAdherent.prenom} + ' ' + ${sessionAdherent.nom}">Utilisateur</span>!</h3>
    <p>Email : <span th:text="${sessionAdherent.email}"></span></p>

    <p>Page réservée aux adhérents</p>
    <form th:action="@{/pret}" method="get">
        <button type="submit">Prêter un livre</button>
    </form>    


    <!-- <a href="/logout">Se déconnecter</a> -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Se déconnecter</button>
    </form>
</body>
</html>
